  #grad1 {
    background-image: linear-gradient(to right,#ffb3b3, white);
  }
  #github{
    color:white;
    text-decoration: none;
  }
  #instagram{
    color:#cc0099;
    text-decoration: none;
  }
  #linkedin{
    color:#668cff;
    text-decoration: none;
  }
  .formerror {
    color: red;
    font-size: 10px;
    
}
