#c{
    background-color:#4ddbff;
}
#nc{
    background-color:#ffff4d;
}
#nd{
    background-color:#ff8080 ;
}
#nr{
    background-color:  #8cff66;
}
#tc{
    background-color:#ff5500 ;
}
#td{
    background-color: #cc0000;
}
#tr{
    background-color:  #00cc00;
}
table{
    background-color: #ffe6e6;
}
